/* Start products  */


/* .navbar .shop-all {
    color: var(--main-color) !important;
} */

#products {
    color: var(--main-color) !important;
}

.products {
    margin: 150px 0 var(--section-padding);
}

.products .container {
    text-align: center;
    overflow: hidden;
}

.products .shuffle {
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 120px;
    padding: 20px 0;
    z-index: 2;
    width: 100%;
    background-color: white;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.products .shuffle li button {
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 10px;
    border: none;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
}

.products .shuffle li button.active,
.products .shuffle li button:hover {
    background-color: var(--main-color);
    color: white;
    outline: 0;
}

.products .gallery {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.products .gallery .box {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: none;
    height: 350px;
    width: 100%;
}

.products .gallery .box img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.products .gallery .box .caption {
    position: absolute;
    padding: 20px;
    bottom: 0px;
    line-height: 1.6;
    color: var(--main-text-color);
    width: 100%;
    height: 30%;
    background-color: rgb(255 255 255 / 57%);
    animation-name: slide-in;
    animation-duration: 0.6s;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    text-align: center;
}

.products .gallery .box:hover .caption {
    height: 44%;
    background-color: var(--transparent-white);
}

@keyframes slide-in {
    from {
        height: 0;
    }
    to {
        height: 44%;
        background-color: var(--transparent-white);
    }
}

.products .gallery .box .caption .rating {
    font-size: 16px;
    color: var(--rating-color);
}

.products .price {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
    /* padding: 10px; */
}

.products .price::before {
    content: '$';
}

.products .fraction {
    position: absolute;
    font-size: 12px;
}

.products .gallery .box .caption .add {
    display: flex;
    align-items: center;
    position: relative;
    left: 115px;
    margin: 5px auto 0;
}

.products .gallery .box .caption .add i {
    margin-left: 5px;
    font-size: 25px;
    color: var(--main-color);
    cursor: pointer;
}

.products .quantity {
    font-size: 14px;
    font-weight: 500;
}

.products .gallery .box .caption .add button:disabled,
.products .gallery .box .caption .add i.disabled {
    opacity: .4;
    cursor: not-allowed;
}

.products .gallery .box .caption .add-to-cart {
    margin-top: 0;
    padding: 8px;
    font-size: 8px;
}

.products .gallery .box .caption p {
    color: var(--main-color);
    font-size: 12px;
    padding-left: 5px;
}


/* End products  */