#contact {
    color: var(--main-color);
}


/* header {
    background-color: white !important;
} */

::placeholder {
    color: white;
    /* color: var(--bold-rose); */
    font-size: 16px;
    /* font-weight: 600; */
}

 :-ms-input-placeholder {
    color: var(--main-color);
}

 ::-ms-input-placeholder {
    color: var(--main-color);
}

.contact-section {
    position: relative;
    height: 100vh;
    /* text-align: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-section img {
    height: 100%;
    width: 100%;
}

.contact-section form {
    padding: 10px;
}

.contact-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.336);
}

.contact-section .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    position: absolute;
    /*overflow: hidden;
    */
    opacity: 1;
    top: 60%;
    left: 50%;
    transition: 1s ease-in-out;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.contact-section .recieved {
    /*color: var(--main-color);
    */
    /*color:#ffc080 #A99578;
    */
    color: var(--main-beige);
    width: 70%;
    padding: 50px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.36);
    text-align: center;
    width: fit-content;
    position: absolute;
    display: none;
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: 1s ease-in-out;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    /* letter-spacing: 2px; */
}

.recieved h1 {
    padding-bottom: 30px;
    font-size: 45px;
}

.recieved span {
    color: #ffe0b3;
}

.recieved h2 {
    line-height: 1.8;
    font-size: 30px;
}

.contact-section .contact-form .text h1 {
    color: var(--main-color);
    margin-bottom: 15px;
}

.contact-section .contact-form .text p {
    margin-bottom: 20px;
    color: white;
}

.contact-section table label {
    font-weight: 600;
    color: #ecbeb6;
    font-size: 20px;
}

.contact-section td {
    padding: 5px;
    position: relative;
}

.contact-section input[type='text'],
.form-element,
.contact-section textarea {
    font-size: 16px;
    font-style: italic;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    border: none;
    border-bottom: 3px solid var(--main-color);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contact-section form tr:last-child {
    text-align: center;
}

.contact-section form .submit,
form [type="submit "] {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    /* width: 80px !important; */
    background-color: var(--main-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.contact-section form .submit:hover,
form [type="submit "]:hover {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


/* .invalid {
    background-color: rgb(255 0 0 /30%) !important;
    border-color: red !important;
} */

.contact-section .error-messages {
    position: absolute;
    /* top: 57%; */
    top: 62%;
    left: 63%;
    transform: translateY(-50%);
    color: white;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.contact-section .error-messages p {
    background-color: rgb(255 0 0 /30%);
    padding: 11.5px;
    margin-bottom: 20px;
    opacity: 0;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.contact-section .show-err {
    opacity: 1;
}