/* Start Slider  */

#home {
    color: var(--main-color);
}

.main-page {
    margin-bottom: var(--section-padding);
}

.main-page .slider {
    overflow: hidden;
}

.main-page .slider .container {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-page .slider .img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-page .slider .img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.main-page .slider .img-container img.active {
    opacity: 1;
}

.main-page .slider .text-container {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    line-height: 1.4;
    padding: 20px;
    color: var(--main-text-color);
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    -moz-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    -o-transform: translate(-10%, -50%);
    background-color: rgba(248, 246, 246, 0.438);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* 
.slider .text-container div {} */

.main-page .slider .text-container h1 {
    font-size: 40px;
}

.main-page .slider .dots {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.main-page .slider .dots div {
    width: 15px;
    height: 15px;
    border: 3px solid var(--main-text-color);
    cursor: pointer;
    border-radius: 50%;
    transition: 1s ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.main-page .slider .dots div:not(:last-child) {
    margin-right: 10px;
}

.main-page .slider .dots .active,
.main-page .slider .dots div:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0 0 3px 3px rgba(241, 57, 57, 0.301);
}


/* End Slider  */


/* Start Collection */

.main-page .collection {
    overflow: hidden;
}

.main-page .collection .main-section .imgs-container::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40%;
    height: 300px;
    width: 100px;
    border-color: transparent var( --main-color) var( --main-color) transparent;
    border-style: none solid solid none;
    border-width: 0 100px 80px 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.main-page .collection .main-section .imgs-container .first-img img {
    top: 230px;
    left: 110px;
}

.main-page .collection .main-section .imgs-container .second-img img {
    left: 375px;
    bottom: 153px;
}


/* End Collection */


/* Start Svg Section  */

.main-page .svg-section {
    text-align: center;
    padding: var(--section-padding) 0;
    color: var(--main-text-color);
}

.main-page .svg-section .container h4 {
    padding: 30px 0;
    font-size: 20px;
}

.main-page .svg-section ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: auto;
}

.main-page .svg-section ul p {
    font-weight: 500;
    padding: 20px 0;
}


/* End Svg Section  */


/* Start Sense Of Home  */

.main-page .sense {
    padding: var(--section-padding) 0;
}

.main-page .sense img {
    max-width: 100%;
}

.main-page .sense .container h3 {
    color: var(--main-color);
    font-size: 60px;
}

.main-page .sense .container .main-section .text-container {
    width: 30%;
    padding: 20px 40px 20px 0;
}

.main-page .sense .container .main-section .imgs-container {
    width: 70%;
}


/* End Sense Of Home  */


/* Start Auto Slider  */

.main-page .auto-slider {
    padding: var(--section-padding) 0;
    text-align: center;
    overflow: hidden;
}

.main-page .auto-slider h2 {
    font-size: 30px;
    padding: 30px 0;
    color: var(--main-color);
    position: relative;
}

.main-page .auto-slider h2::before {
    content: '';
    position: absolute;
    top: 65px;
    left: 50px;
    height: 250px;
    width: 250px;
    background-color: var(--main-color);
}

.main-page .auto-slider h2::after {
    content: '';
    position: absolute;
    top: 240px;
    right: 50px;
    height: 250px;
    width: 250px;
    background-color: var(--main-color);
}

.main-page .auto-slider ul {
    position: relative;
    /*left: -100px;
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}


/* .auto-slider ul li img {
    cursor: pointer;
} */

.main-page .auto-slider ul li:not(:first-child) img {
    margin-left: 50px;
}

.main-page .auto-slider ul li:not(:last-child) img {
    margin-right: 50px;
}


/* End Auto Slider  */